In [9]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import json
from datetime import datetime
from pprint import pprint

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
j = json.load(open("../data/2020-02-24.json"))

In [4]:
len(j)

3391

In [8]:
pprint(j[0])

{'a': {'name': 'Ääsmäe',
       'players': [[False, False, 2, 'Tauno Sau', 1273],
                   [False, False, 4, 'Fredy Maalt', 151],
                   [False, False, 5, 'Ragnar Markus Kuljus', 290],
                   [False, False, 9, 'Ivar Agar', 288],
                   [False, True, 10, 'Andre Simovart', 294],
                   [False, False, 15, 'Targo Trepp', 1932],
                   [False, False, 18, 'Tormi Voog', 472],
                   [False, False, 19, 'Rasmus Ollemaa', 1444],
                   [False, False, 20, 'Rauno Miller', 747],
                   [True, False, 21, 'Rauno Varik', 298],
                   [False, False, 22, 'Urmet Neem', 2099],
                   [False, False, 24, 'Ergo Orumaa', 461],
                   [True, False, 31, 'Siim Stokkeby', 159],
                   [False, False, 34, 'Janar Laaneste', 307],
                   [False, False, 66, 'Sander Stokkeby', 161],
                   [False, False, 78, 'Jaan Rebane', 2105],
                   [False, False, 87, 'Tanel Kasenurm', 297],
                   [False, False, 92, 'Mats Tamme', 152],
                   [False, False, 101, 'Jaanus Kallion', None],
                   [False, False, 102, 'Anre Vooremaa', None],
                   [False, False, 103, 'Kaspar Kallion', None]]},
 'b': {'name': 'Jäneda',
       'players': [[True, False, 1, 'Maximus Vorobjov', 1675],
                   [False, False, 2, 'Ilja Volodin', 1832],
                   [False, False, 3, 'Andres Kalavus', 435],
                   [False, False, 5, 'Taavi Visnap', 261],
                   [True, False, 6, 'Geir Pärtel', 442],
                   [False, False, 8, 'Indrek Lumiste ', 968],
                   [False, True, 16, 'Veikko Väisanen', 972],
                   [False, False, 23, 'Daniil Ruzevitš', 1367],
                   [False, False, 39, 'Taavi Lumiste', 269],
                   [False, False, 60, 'Igor Tegelmann', 1522],
                   [False, False, 77, 'Martin Lehmus', 1489],
                   [False, False, 101, 'Tõnu Salm', None]]},
 'meta': {'aeg': '23.02.2020 kell 12:45',
          'koht': 'Kristiine SH',
          'mang': 'Ääsmäe vs Jäneda',
          'tulemus': '7 - 3',
          'voistlus': 'PAF Saalihokiliiga meistrivõistlused'}}

## Extraction functions

In [35]:
def get_datetime(game):
    return datetime.strptime(game["meta"]["aeg"][:10], "%d.%m.%Y")

def get_season(game):
    dt = get_datetime(game)
    base_year = dt.year
    if dt.month <= 7:
        base_year = dt.year - 1
        
    return str(base_year) + "/" + str(base_year+1)[2:4]

def get_num_people(game):
    return len(game["a"]["players"]) + len(game["b"]["players"])

def get_location(game):
    return game["meta"]["koht"]

def get_league(game):
    return game["meta"]["voistlus"]

def get_features(g):
    return {
        "time": get_datetime(g),
        "season": get_season(g),
        "num_people": get_num_people(g),
        "location": get_location(g),
        "league": get_league(g)
    }


dfl = [get_features(game) for game in j]
df = pd.DataFrame(dfl)

# TODO Fix locations - take only first part of string


df.head()

,league,location,num_people,season,time
0,PAF Saalihokiliiga meistrivõistlused,Kristiine SH,33,2019/20,2020-02-23
1,Naiste esiliiga meistrivõistlused,Mustvee,26,2019/20,2020-02-15
2,Naiste esiliiga meistrivõistlused,Mustvee,29,2019/20,2020-02-15
3,PAF Saalihokiliiga meistrivõistlused,Rapla Sadolin,35,2019/20,2020-02-16
4,PAF Saalihokiliiga meistrivõistlused,Rapla Sadolin,31,2019/20,2020-02-16

## Summary tables

In [28]:
# Count of games by season
df.groupby("season")["season"].aggregate("count")

season
2011/12    483
2012/13    392
2013/14    339
2014/15    370
2015/16    352
2016/17    416
2017/18    417
2018/19    402
2019/20    220
Name: season, dtype: int64

In [29]:
# Count of people by season
df.groupby("season")["num_people"].aggregate("sum")

season
2011/12    13363
2012/13    11119
2013/14     9930
2014/15    10339
2015/16    10321
2016/17    11196
2017/18    10773
2018/19    10815
2019/20     6010
Name: num_people, dtype: int64

In [36]:
# Top locations
df.groupby("location")["location"].aggregate("count").sort_values(ascending=False)

location
Virtuse SH                 732
Kristiine SH               569
EMÜ SH                     427
Õismäe SMH                 268
Tapa SH                    170
Kiili SH                   128
Sparta SH                  105
EMÜ SK                      88
TTÜ SH                      85
Õismäe SH                   76
Kuusalu                     45
Keila TK                    45
Valga SH                    44
Imavere SH                  42
Kristiine                   36
Kuusalu SH                  31
Tapa                        30
Kehra                       29
Rapla                       27
Sadolini SH                 27
Jõgeva                      24
Õismäe                      23
Valga                       18
EMÜ spordihoone             17
Tamsalu SH                  15
Kõrgessaare SH              14
Sadolin SH                  14
Tapa SK                     13
Aruküla                     12
Jõgeva SH                   12
                          ...
Sadolin Spordihoone          5
Ääsmäe                       4
Aseri                        4
Lähte                        4
ÕSM                          4
Tallinn                      4
Rapla Sadolin                3
Saku kool                    3
Rapla Sadolin SH             3
Sparta                       3
Kalevi spordihall            3
Tallinn ÕSH                  3
Narva spordikeskus           3
Sadolin                      3
Keila Tervisekeskus          2
Viljandi MG                  2
TalTech SH                   2
Jõgeva Virtus                1
Viljandi Kesklinna kool      1
Viljandi Kesklinna Kool      1
Saku valla Spordikeskus      1
Raaasiku                     1
Virtuse Spordihoone          1
EMÜ Spordihoone              1
Õismäe SHM                   1
U19N-2                       1
Tapa Spordihoone             1
Narva Spordikeskus           1
Õismaäe SMH                  1
Paikuse SH                   1
Name: location, Length: 80, dtype: int64

## Plots